{% extends "dealsupplier/base.html" %}
{% block content %}
    <div class="starter-template">
        <button id="test-button" type="button" class="btn btn-lg btn-info">lalala</button>
        <div id="task-progress" class="progress">
            <div class="progress-bar progress-bar-striped" style="width: 00%">
            </div>
        </div>

        <div>
            <table class="table table-striped">
                <tr hidden>
                    <th>ID</th>
                    <td id="id">6
                    </td>
                </tr>
                <tr>
                    <th>SQL上线</th>
                    <td>
                        <div id="sql-check" class="switch" data-on="success" data-off="warning">
                            <input type="checkbox" unchecked/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>数据库对比</th>
                    <td>
                        <div id="db-compare" class="switch" data-on="success" data-off="warning">
                            <input type="checkbox" unchecked/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>配置文件检查</th>
                    <td>
                        <div id="config-check" class="switch" data-on="success" data-off="warning">
                            <input type="checkbox" unchecked/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>上线暂停点确认</th>
                    <td>
                        <div id="pause-point-check" class="switch" data-on="success" data-off="warning">
                            <input type="checkbox" unchecked/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>日志的监控</th>
                    <td>
                        <div id="log-monitor" class="switch" data-on="success" data-off="warning">
                            <input type="checkbox" unchecked/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>checklist验证完成</th>
                    <td>
                        <div id="checklist" class="switch" data-on="success" data-off="warning">
                            <input type="checkbox" unchecked/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="/static/js/task_create.js"></script>
{% endblock %}